<!DOCTYPE html>


<html>

<head>
	<link rel="stylesheet" href="moddleMainStyle.css">
	<title>Moddle: The Bike Sharing Website</title>

    		<div class="header">
        		<div class="logo"></div>
			<div class="text">Header Text</div>
    		</div>

		<ul class="topnav" id="myTopnav">

			<li><a href="http://www.google.com">Home</a></li>			
			<li><a href="http://www.google.com">About</a></li>
			<li><a href="http://www.google.com">Contact</a></li>
			<li><a href="http://www.google.com">FAQs</a></li>
			<li><a href="http://www.google.com">Search</a></li>	
			
			<!-- {% if user.is_authenticated %} -->
			
				<li><a href="http://www.google.com">Profile</a></li>
				<li><a href="http://www.google.com">Add Bike</a></li>
				<li><a href="http://www.google.com">Make booking</a></li>				
				<li><a href="http://www.google.com">Log out</a></li>  
				
			<!-- {% else %} -->
			
				<li><a href="http://www.google.com">Login</a></li>
				<li><a href="http://www.google.com">Register</a></li>	
				
			<!-- {% endif %} -->
			
		</ul>
</head>

<body>

	<div>
	</div>
	
</body>

</html>
  
