ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #76C2AF;
}

li {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
}

.header {
        border:2px solid red;
}
    
.header .image {
        background: url("logo-256.png") 
                    no-repeat;
        width: 65px;
        height: 65px;
        border:2px solid green;
}


li {
	float: left;
	border-right:1px solid #bbb;
}

li:last-child {
	border-right: none;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}
