{% extends 'moddle/base.html' %}
{% load staticfiles %}

{% block body_block %}

<h1>{{ bike.name }}</h1>

    <div id="map">
	
	
	
	</div>

		<br />
        <p>{{ bike.description }}</p>
		<p>Price per day: &#163;{{ bike.price_per_day }}</p>
        <img src="{{ MEDIA_URL }}{{ bike.bike_picture }}" alt="{{ bike.name }}"/><br />
			
		<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVZpuFDB4wTBAxpaLPKEtQXIgMvkxUTz8&callback=initMap">
		</script>	

		<script src='{% static "js/otherUserMapDisplay.js" %}'></script>		


		
		
		
		
		{% if user.is_authenticated %}
		<p>
		<a href="{% url 'request_bike' bike.id %}" class="btn btn-primary">Book this bike</button>
		</p>
		{% endif %}

	
		
		<p hidden id=userLat>{{ bike.owner.latitude }}</p>
		<p hidden id=userLong>{{ bike.owner.longitude }}</p>		
	
		<p><a href="{% url 'user_profile' bike.owner.user.username %}">Owner profile</a></p>



		
{% endblock %}
