{% extends 'moddle/base.html' %}
{% load staticfiles %}

{% block body_block %}

{% if user.is_authenticated %}
    <h1>Welcome back {{ request.user.first_name }}!</h1>
{% else %}
    <h1>Welcome cyclist!</h1>
    <h2><a href="{% url 'register' %}">Register here</a> to request one of the beautiful bikes below.</h2>
{% endif %}

    <h2>Start here for Quick search.
    <form id="search" action="{% url 'index' %}">
        <select name="bike_gender">
        <option value="0" selected>Gender</option>
        <option value="Mens">Mens</option>
        <option value="Womens">Womens</option>
        <option value="Other">Other</option>
        </select>
        <select name="bike_age">
        <option value="0" selected>Age</option>
        <option value="Adults">Adults</option>
        <option value="Teens">Teens</option>
        <option value="Childs">Childs</option>
        </select>
        <select name="category">
        <option value="0" selected>Category</option>
        <option value="Mountainbike">Mountainbike</option>
        <option value="Cross Country">Cross Country</option>
        <option value="Road Bike">Road Bike</option>
        <option value="City bike">City Bike</option>
        <option value="Electric Bike">Electric Bike</option>
        <option value="Unicycle">Unicycle</option>
        <option value="Tricycle">Tricycle</option>
        <option value="BMX">BMX</option>
        <option value="other">other</option>
        </select>
        <input type="submit" name="submit" value="search">
    </form>
    </h2>
    {% if query_set %}
	<h3>Your search queries:</h3>
	<p>- 
	{% for query in query_set %}
		{{ query }} -
	{% endfor %}
	</p>
    {% endif %}
<h2>Available Bikes</h2>
    {% if bikes %}
        {% for bike in bikes %}
        <div id="bike">
            <p>
                <a href="{% url 'bike_profile' bike.id %}">{{ bike.name }}</a>
            </p>
			<p>{{ bike.description }}</p>
			<p>Price per day: &#163;{{ bike.price_per_day }}</p>
			<p>
				<a href="{% url 'bike_profile' bike.id %}"><img src="{{ MEDIA_URL }}{{ bike.bike_picture }}" alt="{{ bike.name }}"/></a>
			</p>
        </div>
        {% endfor %}
    {% else %}
			<strong>No bikes have been shared yet. Be the first: <a href="{% url 'register' %}">Register for free</a>.</strong>
    {% endif %}
{% endblock %}
