
{% extends 'moddle/base.html' %}
{% load staticfiles %}

{% block body_block %}

{% if user.is_authenticated %}
    <h1>Welcome back {{ request.user.first_name }}!</h1>
{% else %}
    <h1>Welcome cyclist!</h1>
    <h2><a href="{% url 'register' %}">Register here</a> to request one of the beautiful bikes below.</h2>
{% endif %}

<h2>Available Bikes</h2>
    <form action="{% url 'index' %}">
        <input type="checkbox" name="category" value="all" > all 
        <input type="checkbox" name="category" value="boys"> boys
        <input type="checkbox" name="category" value="adults"> adults
        <input type="submit" value="Search">
    </form>
    {% if bikes %}
        {% for bike in bikes %}
        <div id="bike">
            <p>
                <a href="{% url 'bike_profile' bike.id %}">{{ bike.name }}</a><br />
                {{ bike.description }}
            </p>
			<p>
				<img src="{{ MEDIA_URL }}{{ bike.bike_picture }}" alt="{{ bike.name }}"/>
			</p>
        </div>
        {% endfor %}
    {% else %}
			<strong>No bikes have been shared yet. Be the first: <a href="{% url 'register' %}">Register for free</a>.</strong>
    {% endif %}
{% endblock %}
