{% extends 'moddle/base.html' %}
{% load staticfiles %}

{% block body_block %}

    <h1>Map View</h1>
    



    {% if user.is_authenticated %}
    <div id="map"></div>
{% else %}
    <h1>Welcome cyclist!</h1>
    <h2><a href="{% url 'register' %}">Register</a> or <a href="{% url 'login' %}">login</a> to see the map view.</h2>
{% endif %}
    
        <script src='{% static "js/allUserMapDisplay.js" %}'></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVZpuFDB4wTBAxpaLPKEtQXIgMvkxUTz8&callback=initMap">
    </script>
    
{% endblock %}