{% extends 'moddle/base.html' %}
{% load staticfiles %}

{% block body_block %}
<p>Welcome to the request bike page</p>
	<form id="book_form" method="post" action="/{{bike.id}}/request/">

		{% csrf_token %}

		<!-- Display each form element in a <p> tag -->
		{% for field in form %}
		<p>
			{{ field.errors }}
			{{ field.help_text }}
			{{ field }}
		</p>
		{% endfor %}

		<!-- Provide a button to click to submit the form. -->
		<p><button class="btn btn-primary" type="submit" name="submit"\>Book Now</button></p>
	</form>
{% endblock %}
