{% extends 'moddle/base.html' %}
{% block body_block %}
	 <p>Welcome to the upload_bike page</p>
		<form id="bike_form" method="post" action="/{{user.username}}/addbike/"
        enctype="multipart/form-data">

			{% csrf_token %}

			<!-- Display each form element in a <p> tag -->
			{% for field in form %}
			<p>
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
			</p>
			{% endfor %}

			<p>
			<!-- Provide a button to click to submit the form. -->
			<input type="submit" name="submit" value="Upload this bike" />
			</p>
		</form>
{% endblock %}