{% extends 'moddle/base.html' %}
{% load staticfiles %}

{% block body_block %}

{% if user.is_authenticated %}
    <h1>Welcome back {{ userprofile.user.first_name }}!</h1>
{% else %}
    <h1>{{ userprofile.user.first_name }}, {{ userprofile.user.last_name }}'s profile.</h1>
{% endif %}

<h2>About me</h2>
<p>I like bikes.</p>

<img src="/roughWork/profilePic.jpg" alt="Your profile picture" style="height:228px;">

<h2>Location</h2>
	
	<p>Click on the map to select your home location:</p>
    <div id="map"></div>

	<script src="{% static "js/locationSelector.js" %}"></script>	
	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVZpuFDB4wTBAxpaLPKEtQXIgMvkxUTz8&callback=initMap">
    </script>


<h2>My Bikes</h2>
    {% if bikes %}
        {% for bike in bikes %}
        <div id="bike">
            <p>
                {{ bike.name }}<br />
                {{ bike.description }}
            </p>
            <img src="{{ MEDIA_URL }}{{ bike.bike_picture }}" alt="{{ bike.name }}"/>

        </div>
        {% endfor %}
    {% else %}
			<strong>This user has no bikes.</strong>
    {% endif %}
{% endblock %}
