{% extends 'moddle/base.html' %}
{% load staticfiles %}

{% block body_block %}

{% if request.user == userprofile.user and user.is_authenticated %}
    <h1>Welcome back {{ userprofile.user.first_name }}!</h1>
{% else %}
    <h1>{{ userprofile.user.first_name }}, {{ userprofile.user.last_name }}'s profile.</h1>
{% endif %}

<h2>About me</h2>
<p>{{ userprofile.about_me }}</p>

<img src="{{ MEDIA_URL }}{{ userprofile.profile_picture }}" alt="Your profile picture" style="height:228px;">

<h2>Location</h2>

	<p hidden id=userLat>{{ userprofile.latitude }}</p>
	<p hidden id=userLong>{{ userprofile.longitude }}</p>

    {% if request.user == userprofile.user and user.is_authenticated %}
        <p>Click on the below map to select your home location.</p>
		<p>(This will also be the registered location for your bikes.)</p>
		<script src='{% static "js/locationSelector.js" %}'></script>
    {% else %}
        <p>{{ userprofile.user.first_name }}'s home location:</p>
		<script src='{% static "js/otherUserMapDisplay.js" %}'></script>
    {% endif %}

    <div id="map"></div>
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVZpuFDB4wTBAxpaLPKEtQXIgMvkxUTz8&callback=initMap">
    </script>

<h2>My Bikes</h2>
    {% if bikes %}
        {% for bike in bikes %}
        <div id="bike">
            
			<p>
				<a href="{% url 'bike_profile' bike.id %}">{{ bike.name }}</a>
			</p>
			
			<p>
                {{ bike.description }}
            </p>
            <img src="{{ MEDIA_URL }}{{ bike.bike_picture }}" alt="{{ bike.name }}"/>
			
			
			
			
			
        </div>
        {% endfor %}
    {% else %}
        <p><strong>This user has no bikes.</strong></p>
    {% endif %}
{% endblock %}