ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #76C2AF;
}

li {
	float: left;
	border-right:1px solid #bbb;
	font-family: Arial, Helvetica, sans-serif;
}

li:last-child {
	border-right: none;
}

h1 {
    font-family: 'Poiret One', cursive, Arial, Helvetica, sans-serif;
	color: #4F5D73;
	text-align: center;
}

h2 {
    font-family: 'Poiret One', cursive, Arial, Helvetica, sans-serif;
	color: #4F5D73;
	text-align: center;
}

#moddleLogo {
    display: block;
    margin: auto;
}

#map {
	width:500px; 
	height:300px;
	display: block;
    margin: auto;
}

img {
    /*max-width: 100%;
    max-height: 80%;*/
	max-width: 300px;
	max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;	
}

#bike {
    height: 350px;	
}

blockquote {
    font-family: Arial, Helvetica, sans-serif;
	color: #4F5D73;
	text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
	color: #4F5D73;
	text-align: center;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.input[type=text] {
    width: 150px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


li a:hover:not(.active) {
	background-color: #4F5D73; 
}

.active {
	background-color: #4CAF50;
}
